@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    background-color: #010203;
    font-family: "Montserrat", sans-serif;
    font-weight:400;
    color: #FFFFFF;
}


/* header*/

.logo {
    width: 80%;
    margin-top: 2%;
    padding: 3% 10%;
}


/* headings and text */

h1 {
    font-family: Montserrat, sans-serif;
    color: #E30613;
    font-size: 35px;
    font-weight: 600;
    text-align: left;
    letter-spacing: 4px;
    text-transform: uppercase;
    line-height: 45px;
    margin-bottom: 2%;
}

h2 {
    font-family: Montserrat, sans-serif;
    color: #65ff00;
    font-size: 16px;
    line-height: 20px;
    font-weight: 400;
    text-align: center;
    letter-spacing: 1px;
    margin-bottom: 4%;
}

p {
    color: #FFFFFF;
    font-size: 15px;
    line-height: 1.5;
}

/* Structural CSS */

.divider {
    height: 8px;
    background-image: url('/assets/images/stripe.png');
    background-repeat: repeat-x;
  }

.content-container {
    max-width: 80%;
    margin: 2% 10% 0% 10%;
}

.flex-container-2col {
    display: flex;
    flex-wrap: wrap;
    max-width: 100%;
    columns: 2;
    column-gap: 6%;
  }

.left-box {
    width: 47%;
    float: left;
    padding-bottom: 5%;
}

.right-box {
    width: 47%;
    float: right;  
    padding-bottom: 5%;
}

.game-left-box {
    width: 47%;
    float: left;
}

.game-right-box {
    width: 47%;
    float: right;  
}

.w100 {
    width: 100%
}

.btn {
    margin: 1%;
    border-radius: 4px;
    font-family: Montserrat, sans-serif;
    font-size: 15px;
    font-weight: 600;
    text-align: center;
    letter-spacing: 6px;
    font-size: 100%;
    color: #fcf9f7;
    display: inline-block;

}

.btn:hover {
    border-color: #65ff00;
    color: #010203;
}

.score-area {
    font-size: 15px;
    text-align: center;
}


/* footer */

footer {
    border-top: #E30613 solid 10px;
    background-color: #E30613;
    height: 150px;
    margin-bottom: 0;
    position: static;
}


.social-networks {
     text-align: center;
 
 }
 
 .social-networks > li {
     display: inline;
 }
 
 .social-networks i {
     font-size: 160%;
     margin: 1%;
     padding: 1%;
     color: #ffffff;
 }

 .social-networks i:hover {
    font-size: 160%;
    margin: 1%;
    padding: 1%;
    color: #65ff00;
}


    @media screen and (max-width: 600px) {      

    .logo img {
        max-width: 120%;
    }

    h1 {
        font-size: 27px;
    }

    .left-box {
        width: 100%;
    }
    
    .right-box {
        width: 100%;
    }

    .game-left-box {
        width: 47%;
        float: left;
    }
    
    .game-right-box {
        width: 47%;
        float: right;  
    }
    
}

